<!-- GoogleMap -->
<div class="mx-auto items-center justify-center">
  <input class="flex items-center px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" type="button" value="現在地から探す" onclick="showCurrentLocation()">
  <div id="map" class="rounded-xl"></div>
</div>

<script>
  var googleMapApiKey = "<%= ENV["GOOGLE_API_KEY"] %>";
</script>

<style>
#map {
  height: 400px;
  width: 100%%;
}
</style>

<script type="text/javascript">

let map, marker;
let shops = <%= @shops_json.html_safe %>;

function initMap() {
  // 新しい地図オブジェクトを作成
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
  });

  // マーカーのオブジェクトを作成
  marker = new google.maps.Marker({
    map: map,
  });

  showCurrentLocation(); // ユーザーの現在地を取得し、地図上に表示

//   function updateInfoCard(shop) {
//   document.getElementById('infoCard').classList.remove('hidden');
//   const imageUrl = `https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&maxwidth=1000&photo_reference=${shop.image}&key=${googleMapApiKey}`;
//   console.log("Generated Image URL:", imageUrl);
//   document.getElementById('shopImage').src = imageUrl;
//   document.getElementById('shopName').textContent = shop.name;
//   document.getElementById('shopRating').textContent = `⭐️ ${shop.rating}`;
// }

  // 各ショップのマーカーを作成
  shops.forEach(function(shop) {
    let marker = new google.maps.Marker({
      map: map,
      position: { lat: parseFloat(shop.latitude), lng: parseFloat(shop.longitude) },
      title: shop.name
    });

    // クリックすると情報ウィンドウが開くように設定
marker.addListener('click', function() {
  const imageUrl = `https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&maxwidth=1000&photo_reference=${shop.image}&key=${googleMapApiKey}`;

  const infoWindowContent = `
    <div class="p-3 max-w-xs rounded-lg shadow-md flex flex-col items-center">
       <h3 class="text-lg mb-2 text-center">${shop.name}</h3>
      <img src="${imageUrl}" alt="${shop.name}" class="h-28 object-cover mb-2">
    </div>
  `;

  const infoWindow = new google.maps.InfoWindow({
    content: infoWindowContent
  });

  infoWindow.open(map, marker);
});

    // マーカーをクリックするとウィンドウを表示
    marker.addListener('click', function() {
        updateInfoCard(shop);
    });
  });

}

function showCurrentLocation(){
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      const userLocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      map.setCenter(userLocation);
      marker.setPosition(userLocation);
    }, function() {
      alert('位置情報の取得に失敗しました。');
      map.setCenter({ lat: 35.6803997, lng: 139.7690174 }); // 東京の座標
    });
  } else {
    alert('お使いのブラウザでは地理位置情報の取得がサポートされていません。');
    map.setCenter({ lat: 35.6803997, lng: 139.7690174 }); // 東京の座標
  }
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>
