<%= search_form_for @q, url: shops_path, method: :get, data: { turbo_frame: "search_results" }, html: { class: "bg-gray-50 rounded-md border border-gray-200 shadow-sm flex items-center p-1 w-full shadow-sm" } do |f| %>
  <span class="material-symbols-outlined text-gray-300 mx-1">search</span>
  <%= f.text_field :name_or_address_cont, placeholder: "ショップ名や住所から探す", class: "w-full outline-none bg-gray-50 autofill:bg-transparent text-sm autofill:shadow-[inset_0_0_0px_1000px_theme(colors.gray.50)]" %>
  <%= f.submit "検索", class: "bg-neutral text-white text-center text-sm rounded-md p-2 w-20 my-btn cursor-pointer" %>
<% end %>

<div class="mt-4 flex justify-center">
  <%= link_to map_shops_path, class: "flex items-center btn btn-neutral justify-center rounded-md p-2 w-full md:w-1/2" do %>
    <span class="material-symbols-outlined text-xs">map_search</span>
    現在地から探す
  <% end %>
</div>
