<aside id="default-sidebar" data-sidebar-target="sidebar" class="lg:mt-16 fixed top-0 left-0 w-full lg:w-64 lg:min-w-64 h-screen transition-transform -translate-x-full lg:translate-x-0 z-10 lg:z-0 lg:hidden duration-400" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-white lg:border-r-4 lg:border-primary lg:border-double pb-20">

    <div class="shop-list w-full px-4 mx-auto"></div>

    <button data-action="click->sidebar#toggleButton" aria-controls="default-sidebar" type="button" class="lg:hidden z-50 text-white rounded-lg h-20 w-24 bg-main opacity-90 flex flex-col items-center justify-center font-bold right-4 bottom-20 absolute shadow">
      <span class="material-symbols-outlined mb-1 text-white" style="font-size: 30px;">arrow_back</span>
      <span style="font-size: 13px;">マップに戻る</span>
    </button>
  </div>
</aside>
