<div class="max-w-screen-xl mx-auto mb-20 px-4 mt-10">
  <h2 class="text-2xl md:text-3xl font-bold">お気に入り</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-6">
    <% if @shop_bookmarks.any? %>
      <% @shop_bookmarks.each do |bookmark| %>
        <%= render partial: "shop_bookmark", locals: { bookmark: bookmark } %>
      <% end %>
    <% end %>
  </div>

  <% if @shop_bookmarks.blank? %>
    <div class="mt-8 text-center">
      <h3 class="text-lg font-semibold">まだお気に入りがありません</h3>
      <p>気になるショップを見つけたら、<span class="block sm:inline">ぜひ追加してみましょう！</p>
      <div class="mt-4">
        <%= link_to "ショップを探す", shops_path, class: "btn btn-neutral btn-wide text-base" %>
      </div>
    </div>
  <% end %>
</div>
