<div class="w-11/12 md:max-w-screen-xl mx-auto mb-20 p-4 py-10 md:py-11 md:px-8 mt-12 rounded-md bg-baseColor shadow-custom">
  <div class="">
    <div class="w-full md:max-w-screen-sm mx-auto">
      <%= render "search_form", q: @q, url: shops_path %>
    </div>
    <%= turbo_frame_tag "search_results", data: { turbo_action: :advance }  do %>
      <%= render 'sort_form' %>
      <%= render partial: 'search_results', locals: { filtered_shops: @filtered_shops } %>
    <% end %>
  </div>
</div>
