<div class="max-w-[1200px] mx-auto mb-20">
  <div class="mt-4">
    <div class="w-full sm:w-[800px] mx-auto px-4 ">
      <%= render "search_form", q: @q, url: shops_path %>
    </div>

    <%= turbo_frame_tag "search_results", data: { turbo_action: :advance }  do %>
      <%= render partial: 'search_results', locals: { filtered_shops: @filtered_shops } %>
    <% end %>

  </div>
</div>
