<div class="w-full md:max-w-screen-xl mx-auto pt-16 mb-20">
  <div class="mx-4">
    <div class="w-full md:max-w-screen-sm mx-auto">
      <%= render "search_form", q: @q, url: shops_path %>
    </div>

    <%= turbo_frame_tag "search_results", data: { turbo_action: :advance }  do %>
      <%= render partial: 'search_results', locals: { filtered_shops: @filtered_shops } %>
    <% end %>

  </div>
</div>
