<header class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">FragranceMe</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "ショップ検索", search_shops_path %></li>
      <li>
        <details>
          <summary>メニュー</summary>
          <ul class="bg-base-100 px-1 py-2 rounded-md text-sm top-7 right-1 leading-relaxed w-48 z-50">
            <li><%= link_to "ログイン", new_user_session_path %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</header>
