<footer id="footer" class="bg-neutral text-white py-4">
  <div class="container mx-auto">
    <div class="flex flex-col sm:flex-row justify-between">
      <div class="w-full sm:w-1/2">
        <div class="text-center sm:text-left text-sm">
          <p>© 2024. FragranceMe</p>
        </div>
      </div>
    </div>
  </div>
</footer>
