@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 2行まで表示 */
  overflow: hidden;
  text-overflow: ellipsis; /* テキストがあふれた場合に...を表示 */
}

.text-shadow{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1490196078);
}

@media (max-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }
}
