<div class="mx-auto py-8 px-4 pb-0 flex flex-col items-center justify-center">
    <h3 class="font-semibold text-sm md:text-lg">口コミはまだありません</h3>
    <p class="text-sm mt-1">ぜひ、あなたの体験の投稿をお待ちしています！</p>
</div>