<div id="flash-message" class="relative flex items-center rounded-md bg-opacity-90 backdrop-blur z-50 transition-all duration-300 ease-in-out">
<% flash.each do |message_type, message| %>
  <div id="elementId" class="<%= flash_background_color(message_type) %> text-sm text-white text-center px-12 py-3 rounded-lg fixed top-7 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 shadow-sm opacity-90 font-medium">
    <%= message %>
  </div>
<% end %>
</div>
